@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *)); */



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.dark{
  --background: #0a0a0a;
  --foreground: #ededed;
  
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
hr{    border-color: #ccc;}
.main-layout{max-width: 1400px;margin: 0 auto;padding: 0 20px;}
.home-banner{background: url(../../public/banner-bg.webp) top center no-repeat;max-width: 1600px;margin: 0 auto;position: relative;}
.home-banner::after{background-color:#2A004E; opacity: 0.5; 
  position: absolute;  content: "";  top: 0px;  left:0px;  width:100%;bottom: 0;  
}
.login-left{background: url(../../public/banner-bg.webp) top center no-repeat;border-radius:20px;position: relative;overflow: hidden;}
.login-left::after{background-color:#2A004E; opacity: 0.5; 
  position: absolute;  content: "";  top: 0px;  left:0px;  width:100%;bottom: 0;  
}
.lp3-head-text { margin-bottom: 0;}
.lp3-head-span {color: white; font-size:14px; font-weight: 400;}

.lp5-banner{background:url('../../public/trafficls.png') top center no-repeat ;background-size: cover;padding: 50px;border-radius: 20px;position: relative;}
.lp5-banner::after{background-color:#2a004e;
  opacity: .7;border-radius: 20px;
  position: absolute;
  top: 0;content: "";
  left: 0;
  width: 100%;
  bottom: 0;}
  .lp5-banner .banner{position: relative;z-index: 999;}
  .lp5-banner .banner h2{color: #C62300;}


.button-white{ 
 @apply  rounded-md bg-white py-3 px-5 text-xl font-semibold  shadow-xs hover:bg-amber-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}
.button-primary{ background-color: #C62300;
  @apply  rounded-md py-3 px-5 text-white font-semibold  shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 
 }
 .button-secondary{ background-color: rgba(198,35,0,0.1);
  @apply  rounded-md py-3 px-5 font-semibold  shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2
 }